* {
    margin: 0px;
    font-family: Arial;
    box-sizing: border-box;
}


/* Navigation-bar */
.navbar {
    height: 55px;
    background-color: #0f1111;
    color:white;
    height: 60px;
    display: flex;
    align-items: center;   
    padding-left: 10px;
    justify-content: space-evenly;
}


/* amazon logo */
.nav-logo {
    height: 50px;
    width: 100px;
    margin-left: -15px;
}

.logo {
    background-image: url("amazon_ico.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    width: 100%;
    
    
}


/* box2 loc-delto-ind */
.loc {
    height: 50px;
    width: 88.64px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.add-ico {
    display: flex;
    align-items: center;
}

.del_to {
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 19px;
    margin-top: 5px;
}

.ind {
    font-size: 1rem;
    color: white;
}

/* box3 search */
.nav-search {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 620px;
    border-radius: 4px;
    
    border: 2px solid transparent;
    
}
.nav-search:hover {
    border-color: orange;

}

.search-sel {
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-in {
    width: 100% ; /*this will use all remaining space in nav-search excluding space taken by search-ico and nav-select*/
    font-size: 1rem;
    border: none;
}

.search-ico {
    width: 45px;
    display: flex;
    background-color: rgb(247, 187, 77);
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
}
/* white-hov-bor-all-items */
.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* Box4 : Country */
.country {
    color: white;
    background-color: #0f1111;
}
.country-sel {
    background-color: #0f1111;
    color: white;
    border: none;
    font-size: 1rem;
}


/* Box5 Hello sign in */
.nav-first {
    font-size: 0.7rem;

}
.nav-second {
    color: white;
    background-color: #0f1111;
    font-size: 0.85rem;
    font-weight: 700;
}


/* Box7 Cart */
.nav-cart {
    display: flex;
    align-items: center;
}

.nav-cart i {
    font-size: 30px;
}

/* Supporting nav-Bar container */
.sup-nav {
    height: 40px;
    display: flex;
    align-items: center;
    background-color:#222f3d;
    justify-content: space-evenly;
}
.op1 {
    display: flex;
    align-items: center;
}
.op-all {
    color:white;
    text-decoration: none;
    font-size: 0.9rem;
}
.op1 i {
    color:white;
}

.op2 {
    width:80%;
}
.op2-it {
    color:white;
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 10px;

}

.op-deal {
    color:white;
    text-decoration: none;
    font-size: 0.9rem;
font-weight: 700;}

/* hero-section */
.hero-sec {
    background-image: url("new-hero-sec.jpg");
    height:350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
 
    /* Hero-contain */
.hero-contain {
    display: flex;
    background-color: white;
    justify-content: center;
    height: 40px;
    align-items: center;
    width: 95%;
    margin-bottom: 40px;
}
            
     /* hero-text */
.hero-text{
color: black;
}

.hero-text-link {
    color: #222f3d;
    margin-left: 10px;
}

/* Content-section which shops items and boxes */

.shop-sec {
    display: flex;
    flex-wrap: wrap;
    /* background-color: rgb(239, 234, 234); */
    background-color: #dddddd;
    justify-content: space-evenly;

}

.box {
    height:410px;
    width:23%;
    padding: 20px 0px 15px;
    margin-top:15px;
    background-color: white;

}
/* BOX1 started */

.inner-box1 {
    margin-left: 20px;
    /* margin-right: 10px; */
}
.box1-head {
    font-size: 1.3rem;
    font-weight: 700;
}
.img-box1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    /* justify-content: space-evenly; */

}
.innerbox-con {
    display: flex;
    text-decoration: none;
    color: black;
    flex-direction: column;
    flex-wrap: wrap;
    height: 151px;
    width: 140px;
    margin-right: 20px;
}

.img-text {
    font-size: 0.85rem;
}
.img1-1 {
    background-image: url("f-1.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img1-2 {
    background-image: url("f-2.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    background-size: cover;
    margin-bottom: 5px;
}

.img1-3 {
    background-image: url("f-3.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img1-4 {
    background-image: url("f-4.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}
/* BOX1 ended */

/* BOX2 Started */
.inner-box2 {
    margin-left: 20px;
    font-size: 21px;
    /* margin-right: 10px; */
}
.box2-head {
    font-size: 1.3rem;
    font-weight: 700;
}
.img-box2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    /* justify-content: space-evenly; */

}
.innerbox-con2 {
    display: flex;
    text-decoration: none;
    color: black;
    flex-direction: column;
    flex-wrap: wrap;
    height: 151px;
    width: 140px;
    margin-right: 20px;
}

.img-text {
    font-size: 0.85rem;
}
.img2-1 {
    background-image: url("c-1.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img2-2 {
    background-image: url("c-2.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img2-3 {
    background-image: url("c-3.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img2-4 {
    background-image: url("c-4.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.box-link2 {
    /* font-size: 13px; */
    text-decoration: none;
    color: #222f3d;
}
/* BOX2 ended */

/* BOX3 Start */
.content-img {
    display :flex;
    justify-content: center;
    align-items: center;
}


.box-link{
    margin-top: 20px;
    justify-content: end;
    text-decoration: none;
    color: #2162a1;
}
.pc-img{
background-image: url("pc-image.jpg");
height: 290px;
background-size: cover;
margin-bottom: 20px;
margin-top:10px;
}
.inner-box3 {
    margin-left: 20px;
    margin-right: 20px;
}
/* BOX3 end */

/* BOX4 started */

.inner-box1 {
    margin-left: 20px;
    /* margin-right: 10px; */
}
.box1-head {
    font-size: 1.3rem;
    font-weight: 700;
}
.img-box1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    /* justify-content: space-evenly; */

}
.innerbox-con {
    display: flex;
    text-decoration: none;
    color: black;
    flex-direction: column;
    flex-wrap: wrap;
    height: 151px;
    width: 140px;
    margin-right: 20px;
}

.img-text {
    font-size: 0.85rem;
}
.img4-1 {
    background-image: url("k-1.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img4-2 {
    background-image: url("k-2.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    background-size: cover;
    margin-bottom: 5px;
}

.img4-3 {
    background-image: url("k-3.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img4-4 {
    background-image: url("k-4.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}
/* BOX4 end */

/* BOX6 start */
.inner-box1 {
    margin-left: 20px;
    /* margin-right: 10px; */
}
.box1-head {
    font-size: 1.3rem;
    font-weight: 700;
}
.img-box1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    /* justify-content: space-evenly; */

}
.innerbox-con {
    display: flex;
    text-decoration: none;
    color: black;
    flex-direction: column;
    flex-wrap: wrap;
    height: 151px;
    width: 140px;
    margin-right: 20px;
}

.img-text {
    font-size: 0.85rem;
}
.img6-1 {
    background-image: url("6-1.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img6-2 {
    background-image: url("6-2.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    background-size: cover;
    margin-bottom: 5px;
}

.img6-3 {
    background-image: url("6-3.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img6-4 {
    background-image: url("6-4.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}
/* BOX6 end */

/* BOX7 start */
.inner-box1 {
    margin-left: 20px;
    /* margin-right: 10px; */
}
.box1-head {
    font-size: 1.3rem;
    font-weight: 700;
}
.img-box1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    /* justify-content: space-evenly; */

}
.innerbox-con {
    display: flex;
    text-decoration: none;
    color: black;
    flex-direction: column;
    flex-wrap: wrap;
    height: 151px;
    width: 140px;
    margin-right: 20px;
}

.img-text {
    font-size: 0.85rem;
}
.img7-1 {
    background-image: url("7-1.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img7-2 {
    background-image: url("7-2.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    background-size: cover;
    margin-bottom: 5px;
}

.img7-3 {
    background-image: url("7-3.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img7-4 {
    background-image: url("7-4.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}
/* BOX7 end */

/* BOX8 start */
.inner-box1 {
    margin-left: 20px;
    /* margin-right: 10px; */
}
.box1-head {
    font-size: 1.3rem;
    font-weight: 700;
}
.img-box1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    /* justify-content: space-evenly; */

}
.innerbox-con {
    display: flex;
    text-decoration: none;
    color: black;
    flex-direction: column;
    flex-wrap: wrap;
    height: 151px;
    width: 140px;
    margin-right: 20px;
}

.img-text {
    font-size: 0.85rem;
}
.img8-1 {
    background-image: url("8-1.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img8-2 {
    background-image: url("8-2.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    background-size: cover;
    margin-bottom: 5px;
}

.img8-3 {
    background-image: url("8-3.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}

.img8-4 {
    background-image: url("8-4.jpg");
    background-size: cover;
    background-position: center center;
    height: 115px;
    width: 145px;
    margin-bottom: 5px;
}
/* BOX8 end */
/* footer-section */
footer{
    margin-top: 20px;
}
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #232f3e;
    color: white;
    height: 330px;
    display: flex;
    justify-content: center;
    
}

h3 {
    margin-top: 50px;
}
ul {
    margin-left: 40px;
    padding-right: 40px;;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-link {
    text-decoration: none;
    color: white;
}

.foot-panel3 {
    border-top: 0.1px solid #444f60;
    background-color: #232f3e;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.foot-logo {
    background-image: url("amazon_ico.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    width: 100px;
    margin-right: 120px;
}
.foot-lang {
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dddddd;
    height: 33px;
    border: 0.1px solid #dddddd;
    border-radius: 5px;
    font-size: 0.85rem;
}

.foot-lang-sel {
    background-color: #232f3e;
    color: #dddddd;
    font-size: 0.85rem;
    margin-left: 10px;
}
.foot-curr-sel {
    background-color: #232f3e;
    height: 33px;
    color: #dddddd;
    border: 0.1px solid #dddddd;
    border-radius: 5px;
    font-size: 0.85rem;
    margin-left: 10px;
}

.foot-country-sel {
    background-color: #232f3e;
    color: #dddddd;
    height: 33px;
    border: 0.1px solid #dddddd;
    border-radius: 5px;
    font-size: 0.85rem;
    margin-left: 10px;
}

.foot-panel4 {
    background-color: #131a22;
    color: white;
    height:320px;
    display: flex;
    align-items: flex-start;
    justify-content: last baseline;
    font-size: 0.5rem;
    text-decoration: none;
}

.col {
    margin-top:30px;
    font-size: 0.5rem;
}

.col a {
    text-decoration: none;
    font-weight: 500;
}
.col1-edit1 {
    color:#dddddd;
    font-size: 0.75rem;
}

.col1-edit2 {
    color: #999999;
    font-size: 0.75rem;
}

/* Footer section panel5 copyright sec */
.foot-panel5 {
    background-color: #131a22;
    height:77px;
}
.foot-panel5-txt1 {
    color: #dddddd;
    font-size: 0.75rem;
    text-align: center;
}

.foot-panel5-txt1 a {
    text-decoration: none;
    font-weight: 500;
    margin: 0px 8px 0px 8px;
}

.foot-panel5-txt2 {
    color: #dddddd;
    font-size: 0.75rem;
    text-align: center;
    font-weight: 500;
    margin-top: 5px;
}